body{
    background-color: dimgray;
}

h1{
    /* color: whitesmoke; */
    background-color: blueviolet;
    text-align: center;
    width: 100%;
    
}

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: black;
    height: 100px;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    text-align: center;
}

h2{
    text-align: center;
}